@{
    Layout = null;
}
@using DuTruVatTu.Models;
@using DuTruVatTu.Command;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Public/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/Css/custom.css" rel="stylesheet" />
    <link href="~/Public/Css/toastr.min.css" rel="stylesheet" />
    <link href="~/Public/Css/themify-icons.css" rel="stylesheet" />
    <link href="~/Public/Css/style.css" rel="stylesheet" />

    <script src="~/Public/Js/jquery-3.2.1.min.js"></script>
    <script src="~/Public/Js/jquery-ui.min.js"></script>
    <script src="~/Public/Js/tether.min.js"></script>
    <script src="~/Public/Js/bootstrap.min.js"></script>
    <script src="~/Public/Js/toastr.min.js"></script>
    <script src="~/Public/Js/html-table-search.js"></script>
    <script src="~/Public/Js/function.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
               
            }).ajaxStop(function () {
               
            });
        });
    </script>
</head>
<body>
    @{ 
        var taiKhoan = (TaiKhoanDangNhapModel)Session[Contains.SESSIONKEYDANGNHAP];
        QuyenHanModel qh = new QuyenHanModel();
        qh.SetJSON(taiKhoan.PHANQUYEN);
    }
    @Html.AntiForgeryToken()
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #5c7f91;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" style="padding: 0px;">
            <img src="~/Public/Images/logo_vlute.png" width="50" height="50" class="d-inline-block rounded-circle" alt="">
            <b style="padding: 0px 0px 0px 5px;">ELECTRICAL AND ELECTRONIC</b>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 50px">
            <ul class="navbar-nav mr-auto">
                @if (qh.QUANLYTAIKHOAN)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Index", "QuanLyTaiKhoan")">Quản lý tài khoản</a>
                        </div>
                    </li>
                }
                @if (qh.BACDAOTAO || qh.CHUCVU || qh.GIANGVIEN || qh.HOCKYNAMHOC || qh.KHOAHOC || qh.LOPHOCPHAN ||
                qh.MONHOC || qh.NHOMLINHVUC || qh.NHOMVATTU || qh.VATTU || qh.PHONG)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Thông tin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @if (qh.BACDAOTAO)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "BacDaoTao")">Bậc đào tạo</a>
                            }
                            @if (qh.CHUCVU)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "ChucVu")">Chức vụ</a>
                            }
                            @if (qh.GIANGVIEN)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "GiangVien")">Giảng viên</a>
                            }
                            @if (qh.HOCKYNAMHOC)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "HocKyNamHoc")">Học kỳ - năm học</a>
                            }
                            @if (qh.KHOAHOC)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "KhoaHoc")">Khóa học</a>
                            }
                            @if (qh.LOPHOCPHAN)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "LopHocPhan")">Lớp học phần</a>
                            }
                            @if (qh.MONHOC)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "MonHoc")">Môn học</a>
                            }
                            @if (qh.NHOMLINHVUC || qh.NHOMVATTU || qh.VATTU)
                            {
                                <div class="dropdown-divider"></div>
                            }
                            @if (qh.NHOMLINHVUC)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "NhomLinhVuc")">Nhóm lĩnh vực</a>
                            }
                            @if (qh.NHOMVATTU)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "NhomVatTu")">Nhóm vật tư</a>
                            }
                            @if (qh.VATTU)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "VatTu")">Vật tư</a>
                            }
                            @if (qh.PHONG)
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "Phong")">Phòng</a>
                            }
                        </div>
                    </li>
                }
                @if (qh.PHANCONGGIANGDAY)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Phân công giảng dạy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Index", "PhanCongGiangDay")">Phân công giảng dạy</a>
                        </div>
                    </li>
                }
                @if (qh.DUTRUVATTU || qh.THONGKEDUTRUVATTU)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dự trù vật tư
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @if (qh.DUTRUVATTU)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "QuanLyTaiKhoan")">Dự trù</a>
                            }
                            @if (qh.THONGKEDUTRUVATTU)
                            {
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Thống kê</h6>
                                <a class="dropdown-item" href="@Url.Action("Index", "QuanLyTaiKhoan")">Dự trù vật tư</a>
                            }
                        </div>
                    </li>
                }
                @if (qh.VATTUPHONG || qh.THONGKEVATTUPHONG)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vật tư - Phòng
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @if (qh.VATTUPHONG)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "VatTuPhong")">Quản lý</a>
                            }
                            @if (qh.THONGKEVATTUPHONG)
                            {
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Thống kê</h6>
                                <a class="dropdown-item" href="#">Thiết bị hiện có</a>
                            }
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Public/Images/girl.png" width="30" height="30" class="d-inline-block align-top img-circle" alt="">
                        <b style="font-size: 12px; padding: 0px 0px 0px 10px; color: #fff;">@taiKhoan.TENGIANGVIEN</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Index", "QuanLyTaiKhoan")">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "../DangXuat")">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin: 15px -15px 15px -15px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>